<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css")}}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css")}}'s>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="fonts/Linearicons-Free-v1.0.0/icon-font.min.css")}}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/animate/animate.css")}}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/css-hamburgers/hamburgers.min.css")}}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/animsition/css/animsition.min.css")}}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/select2/select2.min.css")}}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/daterangepicker/daterangepicker.css")}}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/util.css")}}'>
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/main.css")}}'>
<!--===============================================================================================-->
	<style>

	</style>
</head>

<body>
	<div class="container">
        <ul class="nav navbar-nav ml-auto"style="float:right;
        										 padding-right:20px;
        										 font-size: 120%;
        										 padding-top: 5%;
        										 margin-bottom: -5%;">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('test') }}"> Message Board</a>
            </li>
        </ul>
     </div>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<!--from wtforms import SubmitField -->
				<form method='POST'>
					{{ button.csrf_token }}
					<span class="login100-form-title p-b-51">
						Do You Have Permission?
						<p>Configs can't be changed</p>
						<p>Unless you're the owner of this session.</p>
						{% if error == True %}
						<p style="color:red;">Incorrect Password</p>
						{% endif %}
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						</div>

					</div>

					<div class="container-login100-form-btn m-t-17">
						{{ button.button(class_="login100-form-btn") }}
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="vendor/jquery/jquery-3.2.1.min.js")}}'></script>
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="vendor/animsition/js/animsition.min.js")}}'></script>
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="vendor/bootstrap/js/popper.js")}}'></script>
	<script src='{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js")}}'></script>
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="vendor/select2/select2.min.js")}}'></script>
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="vendor/daterangepicker/moment.min.js")}}'></script>
	<script src='{{ url_for("static", filename="vendor/daterangepicker/daterangepicker.js")}}'></script>
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="vendor/countdowntime/countdowntime.js")}}'></script>
<!--===============================================================================================-->
	<script src='{{ url_for("static", filename="js/main.js")}}'></script>

</body>
</html>